{%extends 'base.html'%}
{% load bootstrap4 %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% for image in images %}
      <!-- Card -->
      <div class="card mb-4">
        <div class="avatar mx-auto white" style="float:left">
          <img src="{{image.image.url}}" class="rounded-circle"  height="15%" width="15%" alt="woman avatar">
        </div>
        
        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>


        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-light-blue btn-md">Read more</button>

        </div>

      </div>
      <!-- Card -->
      {%  endfor %}


    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-10">
          <div class="container-2" style="position:fixed">
            <div id="borderDemo">
              <h1 class="portals">Instagram</h1>

              <p>Sign up to see photots and videos from your friends</p>
              <!-- Default horizontal form -->
              <form>


                <!-- Grid row -->
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-md">Sign in</button>
                  </div>
                  <p>By signing up, you agree to our Terms , Data Policy and Cookies Policy .</p>
                </div>
                <!-- Grid row -->
              </form>
              <!-- Default horizontal form -->

            </div>

            <div class="mybox">
              <p>Have an account? <a href="/">Log in</a></p>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{{block.super}}
{% endblock %}